@model ToDoList.Models.ToDo

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial"); 
    }
}

@if (ViewBag.ErrorMessage != null)
{
    <div style="color:red;">
        @ViewBag.ErrorMessage
    </div>
}

<h2>Add Task</h2>

<form asp-action="Create" method="post">
    <input type="hidden" asp-for="CategoryId" />


    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Priority"></label>
        <select asp-for="Priority" asp-items="Html.GetEnumSelectList<ToDoList.Models.Enum.Priority>()" class="form-control"> <!--Enum-->
            <option value="">-- Select Priority --</option>
        </select>
        <span asp-validation-for="Priority" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Deadline"></label>
        <input asp-for="Deadline" type="datetime-local" 
               value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")"
               class="form-control" />  <!--Timebox-->
        <span asp-validation-for="Deadline" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add Task</button>
</form>